doctype html
html(lang='en')
  head
    title Smart-Cart
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      body{
      background-color: #b3e0ff;
      }
      .navbar {
      margin-bottom: 50px;
      border-radius: 25px;
      }
      .jumbotron {
      margin-bottom: 0;
      background-color: #002e4d ;
      color:white;
      }
      .productClass
      {
      margin-left : 50px;
      }
      footer {
      background-color: #f2f2f2;
      padding: 25px;
      }
      p {
      margin-top : 30px
      margin-bottom : 50px;
      }
      button {
      margin-bottom : 40px;
      }
  body
    .jumbotron
      .container.text-center
        h1 Smart-cart
        p Start smart shopping here!
    .container
      if messages.error
        .alert.alert-danger
        div= messages.error
      if messages.info
        .alert.alert-info
        div= messages.info
      if messages.success
        .alert.alert-success
        div= messages.success    
    .container(style='margin-top: 50px; padding : 20px 20px 20px 20px;')
      h2  All products : 
      br
      div(style='margin-left : 60px;')
                
        each product in products
    
          span Product Name : 
          span=product.productName
          br
          span Product categories : 
          span=product.productCategories
          a(href='http://localhost:3000/product/viewProduct/'+product._id ,role='button')
            button.btn.btn-primary.btn-sm(style='float:right;') view product
          br
          span Manufacturer : 
          span=product.manufacturer
          br
          span Product Details : 
          span=product.productDetails
          a(href='http://localhost:3000/product/editProduct/'+product._id+'/screen' ,role='button')
            button.btn.btn-primary.btn-sm(style='float:right;') edit product
          br
          span Product cost : 
          span=product.productCost
          br
          span CoD Available : 
          span=product.codAvailable
          br
          span availability : 
          span=product.availability  
          span  in stock
          br
          form(action='/product/deleteProduct/'+product._id, method='post')
            .form-group
              button.btn.btn-primary.btn-sm(type='submit') delete product
          br
    
        else
          span There are no products
          br

        a(href='http://localhost:3000/product/createproduct/screen' ,role='button')
          button.btn.btn-primary.btn-sm create new product

      ul.pager
        li.next
          a(href='/') ← Back      
       
    footer.container-fluid.text-center
      p  © Smart-cart 2017 
